src/test/resources/wsdl/JaxWsAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.webservice.jaxws.linus.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.webservice.jaxws.linus.com" xmlns:intf="http://service.webservice.jaxws.linus.com" xmlns:tns1="http://data.webservice.jaxws.linus.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.webservice.jaxws.linus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://data.webservice.jaxws.linus.com"/>
   <element name="setWeather">
    <complexType>
     <sequence>
      <element name="weather" type="tns1:Weather"/>
     </sequence>
    </complexType>
   </element>
   <element name="setWeatherResponse">
    <complexType/>
   </element>
   <element name="getWeather">
    <complexType/>
   </element>
   <element name="getWeatherResponse">
    <complexType>
     <sequence>
      <element name="getWeatherReturn" type="tns1:Weather"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://data.webservice.jaxws.linus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Weather">
    <sequence>
     <element name="forecast" nillable="true" type="xsd:string"/>
     <element name="howMuchRain" type="xsd:float"/>
     <element name="rain" type="xsd:boolean"/>
     <element name="temperature" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setWeatherRequest">

      <wsdl:part element="impl:setWeather" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWeatherRequest">

      <wsdl:part element="impl:getWeather" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setWeatherResponse">

      <wsdl:part element="impl:setWeatherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWeatherResponse">

      <wsdl:part element="impl:getWeatherResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="JaxWsAPI">

      <wsdl:operation name="setWeather">

         <wsdl:input message="impl:setWeatherRequest" name="setWeatherRequest">

       </wsdl:input>

         <wsdl:output message="impl:setWeatherResponse" name="setWeatherResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWeather">

         <wsdl:input message="impl:getWeatherRequest" name="getWeatherRequest">

       </wsdl:input>

         <wsdl:output message="impl:getWeatherResponse" name="getWeatherResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="JaxWsAPISoapBinding" type="impl:JaxWsAPI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setWeather">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setWeatherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setWeatherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWeather">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWeatherRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWeatherResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="JaxWsAPIService">

      <wsdl:port binding="impl:JaxWsAPISoapBinding" name="JaxWsAPI">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/JaxWsAPI"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
