src/main/resources/wsdl/JaxWsAPIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="urn:com:linus:api:components" name="JaxWsAPIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="urn:com:linus:api:components" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="urn:com:linus:api:components" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="GetWeather" type="tns:GetWeather"/>

      <xs:element name="GetWeatherResponse" type="tns:GetWeatherResponse"/>

      <xs:element name="SetWeather" type="tns:SetWeather"/>

      <xs:element name="SetWeatherResponse" type="tns:SetWeatherResponse"/>

      <xs:complexType name="SetWeather">
        <xs:sequence>
          <xs:element name="arg0" type="tns:Weather" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Weather">
        <xs:sequence>
          <xs:element name="forecast" type="xs:string" minOccurs="0"/>
          <xs:element name="howMuchRain" type="xs:float"/>
          <xs:element name="rain" type="xs:boolean"/>
          <xs:element name="temperature" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SetWeatherResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetWeather">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="GetWeatherResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:Weather" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="SetWeather">
    <part name="parameters" element="tns:SetWeather"/>
  </message>
  <message name="SetWeatherResponse">
    <part name="parameters" element="tns:SetWeatherResponse"/>
  </message>
  <message name="GetWeather">
    <part name="parameters" element="tns:GetWeather"/>
  </message>
  <message name="GetWeatherResponse">
    <part name="parameters" element="tns:GetWeatherResponse"/>
  </message>
  <portType name="WeatherAPI">
    <operation name="SetWeather">
      <input wsam:Action="urn:com:linus:api:components:WeatherAPI:SetWeatherRequest" message="tns:SetWeather"/>
      <output wsam:Action="urn:com:linus:api:components:WeatherAPI:SetWeatherResponse" message="tns:SetWeatherResponse"/>
    </operation>
    <operation name="GetWeather">
      <input wsam:Action="urn:com:linus:api:components:WeatherAPI:GetWeatherRequest" message="tns:GetWeather"/>
      <output wsam:Action="urn:com:linus:api:components:WeatherAPI:GetWeatherResponse" message="tns:GetWeatherResponse"/>
    </operation>
  </portType>
  <binding name="WeatherAPIBinding" type="tns:WeatherAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="SetWeather">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetWeather">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JaxWsAPIService">
    <port name="WeatherAPI" binding="tns:WeatherAPIBinding">
      <soap:address location="http://localhost:8080/WebServiceProject/services/WeatherAPI"/>
    </port>
  </service>
</definitions>

